<script type="text/javascript">
	function chk_uid(uid)
	{
		if (!uid)
			return false;

		var parms = 'chk_uid=1&uid=' + encodeURIComponent(uid);

		var req = new Ajax.Request('<{$currconfig->url}>/include/user.php', {method: 'get', parameters: parms, onComplete: function (req) {$('chk_uid_result').innerHTML = (req.responseText == 'exists') ? '' : '<font color="#FF0000">錯誤的使用者帳號</font>';} });
	}

	function addfriend()
	{
		if (!document.fl.fid.value)
			return ;

		var parms = 'add_friend=1&fid=' + document.fl.fid.value;

		var req = new Ajax.Request("<{$currconfig->url}>/module/<{$currmodule->name}>/friendlist_ajax.php", {method: "post", parameters: parms, onComplete: function(q){ document.location.href = '<{$currconfig->phpself}>';}});
	}

	function delfriend(fno)
	{
		if (fno == 0)
			return ;

		var parms = 'del_friend=1&fno=' + fno;

		var req = new Ajax.Request("<{$currconfig->url}>/module/<{$currmodule->name}>/friendlist_ajax.php", {method: "post", parameters: parms, onComplete: function(q){alert('已從好友名單中刪除'); document.location.href = '<{$currconfig->phpself}>';}});
	}

	function turnfriendship(fno)
	{
		if (fno == 0)
			return ;

		var parms = 'turn_friendship=1&fno=' + fno;

		var req = new Ajax.Request("<{$currconfig->url}>/module/<{$currmodule->name}>/friendlist_ajax.php", {method: "post", parameters: parms, onComplete: function(q){document.location.href = '<{$currconfig->phpself}>';}});
	}
</script>

<p class="field_top"><img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_friendicon.jpg" alt="好友名單" /></p>
<div class="field_content">
  <form method="post" action="" id="fl" name="fl" style="border-bottom: 1px dotted #CCCCCC; padding: 10px;">
    <img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_friendadd.gif" alt="" />&nbsp; 新增好友 <input type="text" name="fid" size="20" onblur="chk_uid(this.value);" />&nbsp;&nbsp;<input type="button" value="新增" onclick="javascript: addfriend();" /><span id="chk_uid_result" style="margin: 0px 10px;"></span>
  </form>

  <table border="0" cellpadding="3" cellspacing="0" style="border-collapse: collapse;" width="100%">
    <tr>
      <td width="250">帳號 (暱稱)</td>
      <td width="40">傳訊</td>
      <td width="40">類別</td>
      <td>刪除</td>
    </tr>
    <tr>
      <td colspan="4"><hr width="100%" /></td>
    </tr>
<{foreach from=$friend item="user"}>
    <tr>
      <td><font color="#<{if ($user->friendship == $friend_handler->goodfriend)}>CC9900<{else}>666666<{/if}>"><{$user->uid}> (<{$user->name}>)</font></td>
      <td><a href="<{$currconfig->url}>/module/<{$currmodule->name}>/msgsend.php?fno=<{$user->uno}>" title="傳送訊息"><img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_friendmail.gif" alt="" border="0" /></a></td>
      <td><a href="javascript: turnfriendship(<{$user->uno}>);" title="設成<{if ($user->friendship == $friend_handler->goodfriend)}>壞人<{else}>好友<{/if}>"><img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_friend<{if ($user->friendship == $friend_handler->goodfriend)}>good<{else}>bad<{/if}>.gif" alt="" border="0" /></a></td>
      <td><a href="javascript: delfriend(<{$user->uno}>);" title="從名單中刪除"><img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_friendminus.gif" alt="" border="0" /></a></td>
    </tr>
<{/foreach}>
  </table>
</div>
<p class="field_bottom"></p>
