<p class="field_top">SPARC 身分確認</p>
<div class="field_content">
  <form method="post" action="">
    <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse" align="center">
      <tr>
        <td>SPARC 帳號 (學號)</td>
        <td><input type="text" name="sid" size="20" /></td>
      </tr>
      <tr>
        <td>SPARC 密碼</td>
        <td><input type="password" name="spwd" size="20" /> 新生請填出生日期 (YYYYMMDD)</td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" value="確定" /></td>
      </tr>
    </table>
  </form>
</div>
<p class="field_bottom"></p>
