<script type="text/javascript">
	function unsubscribe(type, no)
	{
		var parms = 'unsubscr_' + type + '=1&no=' + no;

		var req = new Ajax.Request("<{$currconfig->url}>/module/<{$currmodule->name}>/do_subscribe.php", {method: "post", parameters: parms, onComplete: function(q){alert('取消訂閱成功');  document.location.href = '<{$currconfig->phpself}>';}});
	}
</script>

<p class="field2_top"><img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_mine_topic.jpg" alt="我的訂閱主題" /></p>
<div class="field2_content">
  <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse;" align="center" width="100%">
    <tr>
      <th align="left" width="60">取消訂閱</th>
      <th align="left">訂閱主題</th>
      <th align="left" width="150">最新發表人</th>
      <th align="left" width="90">最新發表日期</th>
    </tr>
    <tr>
      <td colspan="4"><hr width="100%" /></td>
    </tr>
<{foreach from=$s_topics item="topic"}>
    <tr>
      <td align="center"><a href="javascript: unsubscribe('topic', '<{$topic->tno}>');" title="取消訂閱"><img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_mine_unscribe.gif" border="0" /></a></td>
      <td><a href="<{$currconfig->url}>/module/<{$currmodule->name}>/view.php?tno=<{$topic->tno}>" title=""><{$topic->title|htmlencode}></a></td>
      <td><a href="<{$currconfig->url}>/module/system/show_pfile.php?uno=<{$topic->currpost->poster_no}>" title=""><{$topic->currpost->poster_name|htmlencode}></a></td>
      <td><{$topic->currpost->posttime}></td>
    </tr>
<{/foreach}>
  </table>
</div>
<p class="field2_bottom"></p>

<p class="field2_top"><img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_mine_qanda.jpg" alt="我的訂閱問題" /></p>
<div class="field2_content">
  <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse;" align="center" width="100%">
    <tr>
      <th align="left" width="60">取消訂閱</th>
      <th align="left">訂閱問題</th>
      <th align="left" width="150">最新發表人</th>
      <th align="left" width="90">最新發表日期</th>
    </tr>
    <tr>
      <td colspan="4"><hr width="100%" /></td>
    </tr>
<{foreach from=$s_questions item="question"}>
    <tr>
      <td align="center"><a href="javascript: unsubscribe('qanda', '<{$question.qno}>');" title="取消訂閱"><img src="<{$currconfig->url}>/module/<{$currmodule->name}>/templates/images/p_mine_unscribe.gif" border="0" /></a></td>
      <td><a href="<{$currconfig->url}>/module/<{$currmodule->name}>/question.php?qno=<{$question.qno}>" title=""><{$question.question|htmlencode}></a></td>
      <td><a href="<{$currconfig->url}>/module/system/show_pfile.php?uno=<{$question.poster_no}>" title=""><{$question.poster_name|htmlencode}></a></td>
      <td><{$question.posttime}></td>
    </tr>
<{/foreach}>
  </table>
</div>
<p class="field2_bottom"></p>

