<div>
  <form method="post" action="" id="" name="">
    <table class="formTable">
      <tr>
        <th colspan="2">修改文章</th>
      </tr>
      <tr>
        <td>標題</td>
        <td><input type="text" name="title" value="<{$forumtopic->title}>" size="60" /></td>
      </tr>
      <tr>
        <td>內容</td>
        <td><textarea name="content" rows="15" cols="60"><{$forumtopic->content}></textarea></td>
      </tr>
      <tr>
        <td colspan="2"><input type="hidden" name="mdarticle" value="1" /><input type="hidden" name="tno" value="<{$forumtopic->topic_no}>" /><input type="submit" value="確定" />&nbsp;&nbsp;<input type="reset" value="重填" />&nbsp;&nbsp;<input type="button" value="取消" onclick="javascript: window.back();" /></td>
      </tr>
    </table>
  </form>
</div>
