.groupTable
{
	margin: 10px auto;
	border: 1px solid #85A3BF;
	border-collapse: collapse;
	padding: 10px;
	width: 90%;
	height: 200px;
}

.groupTable th
{
	font-size: 16px;
}

.titleTable
{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #85A3BF;
	font-size: 16px;
	font-weight: bold;
	width: 580px;
}

.itemTable
{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 1px solid #85A3BF;
	padding: 5px;
	width: 550px;
}

.itemTable th
{
	font-size: 16px;
	text-align: left;
}

.itemAdmin
{
	text-align: right;
}

.itemContent
{
	padding: 5px 20px;
}

.itemFooter
{
	background: #BFBFBF;
	text-align: right;
}

.formTable
{
	margin: 20px auto;
	border: 1px solid #85A3BF;
	padding: 10px;
	text-align: center;
	width: 500px;
}

.blockTable
{
	border: 1px solid #85A3BF;
	font-size: 14px;
	line-height: 15px;
	padding: 0px;
	width: 200px;
}

.blockTable th
{
	background: #2F7CBF;
	color: #FFFFFF;
	height: 10px;
}
